.brands {
    position: relative;
    padding: 48px 0 44px;
    background: $brandsBgColor;

    .owl-carousel {
        padding: 0 32px;
    }

    .owl-nav {
        .icon {
            fill: #919191;
        }
    }

}

    .brands__title {
        font-size: 20px;
        font-weight: $fontWeightMedium;
        letter-spacing: 1.4px;
        white-space: nowrap;

        @include media-breakpoint-down('sm') {
            text-align: center;
        }
    }

    .brands__wrap {
        margin: 5px 0 0 28px;;
    }

        .brands__img {
            padding: 30px 40px;
        }



