.btn {
    font-size: 11px;
    font-weight: $fontWeightBold;
    line-height: 13px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    border-width: 2px;
    border-color: transparent;
    border-radius: 10px;

    &:focus, &.focus {
        outline: none;
        box-shadow: none;
    }
}

.btn--md {
    padding: 4px 22px;
    line-height: 21px;
}

/* TODO: look at @include button-variant */

.btn-primary {
    color: #000;
    background-color: transparent;
    border-color: #56bbed;

    &:hover {
        color: #fff;
        background-color: #56bbed;
        border-color: #56bbed;
    }

    &:not(:disabled):not(.disabled):active {
        color: #fff;
        background-color: #3fa1d2;
        border-color: #3fa1d2;
    }
}
