.catalog-widget {
    position: relative;
    padding: 32px 0 32px;
}

    .catalog-widget__col {
        position: relative;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-bottom: 30px;

        @include media-breakpoint-up('lg') {
            max-width: 14.28%;
            //flex: 0 0 14.28%;
        }

        @include media-breakpoint-down('md') {
            max-width: 19.98%;
        }

        @include media-breakpoint-down('sm') {
            max-width: 33.3%;
        }

        @include media-breakpoint-down('xs') {
            max-width: 100%;
        }
    }

        .catalog-widget__category {
            display: block;
            min-height: 142px;
            padding: 20px 0 0 0;
            text-align: center;
            background: #fff;
            border-radius: 4px;

            img {
                //width: 124px;
                //height: 105px;
                width: 100px;
                height: 78px;
                max-width: 100%;
                max-height: 100%;
            }

            span {
                display: block;
                margin: 7px 0 0 0;
                font-weight: $fontWeightMedium;
                color: $colorDark;
            }
        }

    .catalog-widget__bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200%;
        height: 100%;
        background: $categoryWidgetBgColor;
        z-index: -1;
    }