.icon {
    display: inline-block;
    vertical-align: middle;
    @include transition(all 0.1s);
}

.icon--sm {
    width: 19px;
    height: 19px;
}

.icon--md {
    width: 20px;
    height: 20px;
}

.icon--19x19 {
    width: 19px;
    height: 19px;
}


.icon--58x58 {
    width: 58px;
    height: 58px;
}