.link {

}

.link-default {
    display: inline-block;;
    color: $colorMain;
    text-decoration: none;

    span {
        vertical-align: middle;
    }


    .icon--sm {
        margin-right: 5px;
    }

    .icon--md {
        margin-right: 5px;
    }

    &:hover {
        color: $colorPrimary;

        .icon {
            vertical-align: middle;
            fill: $colorPrimary;
        }
    }
}

.link-primary {

}


a.link,
a.link-default,
a.link-primary {
    text-decoration: none;
}

