.media-block {
    position: relative;
    width: 100%;
    margin-bottom: 22px;
    text-align: center;
    color: $colorMain;

    @include media-breakpoint-down('md') {
        margin-bottom: 32px;
    }

    img {
        width: 100%;
        margin-bottom: 16px;
    }

    .media__category {
        font-size: 15px;
        font-weight: $fontWeightMedium;
        line-height: 24px;
        text-transform: uppercase;
    }

    .media__line {
        display: inline-block;
        width: 19%;
        height: 1px;
        margin: 5px 0;
        background: $colorMain;
    }

    .media__title {
        margin-bottom: 6px;
        font-size: 21px;
        font-weight: $fontWeightMedium;
        line-height: 27px;
        letter-spacing: 0.4px;
        text-transform: uppercase;

        @include media-breakpoint-down('md') {
            font-size: 21px;
        }
    }

    .media__teaser {
        padding: 0 30px;
        font-size: 12px;
        line-height: 21px;
    }
}
