.poster {
    position: relative;

    img {
        min-height: 240px;
    }

    .poster__box {
        position: absolute;
        padding: 25px 20px;
        background: rgba(255, 255, 255, 0.7);

        &.poster__box--right {
            top: 50%;
            right: 0;
            transform: translate(0, -50%);
        }
    }

        .media-block {
            margin-bottom: 0;
        }
}

.poster-sm {
    position: relative;
    display: table;
    width: 100%;
    min-height: 240px;
    margin-bottom: 16px;
    padding: 10px;
    text-align: center;
    overflow: hidden;

    img {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 240px;
        transform: translate(-50%, -50%);

        @include media-breakpoint-down('sm') {
            width: 100%;
        }
    }

    .poster__box {
        position: relative;
        display: table-cell;
        height: 100%;
        vertical-align: middle;
        border: 3px solid #fff;
        background: rgba(255, 255, 255, 0.5);
        z-index: 2;
    }

        .poster__title {
            font-size: 20px;
            font-weight: $fontWeightBold;
            letter-spacing: 1px;
            line-height: 27px;
            text-transform: uppercase;
            color: $colorMain;
        }

        .poster__line {
            width: 42%;
            height: 1px;
            margin: 10px auto;
            background: $colorMain;
        }

        .poster__text {
            font-size: $fontSizeMain;
            font-weight: $fontWeightLight;
            text-transform: uppercase;
            color: $colorMain;
        }
}
