.product {
    h1 {
        margin-bottom: 0;
    }
}

.product___count {
    font-size: 14px;
    text-transform: uppercase;
    color: #9b9b9b;
}

.product___logos {
    fill: #9b9b9b;
}

.product__soc {
    .icon {
        fill: #fff;
        background: #bcbcbc;
    }
}

.product__image {
    a {
        display: inline-block;
    }

        .img {
            max-width: 100%;
            width: 490px;
            height: 320px;
            background: #c6c8ca;
        }
}

.product__attrs {
    li {
        color: #000;

        span {
            color: #818181;
        }
    }

}

//
//.product__images {
//
//}
//
//    .product__img-link {
//        margin-left: 16px;
//        outline: none;
//    }
//
//        .product__img {
//            border: 3px solid transparent;
//
//            .selected & {
//                border: 3px solid $colorPrimary2;
//            }
//        }
//
//.product__price {
//    margin-bottom: 16px;
//    font-size: 1rem;
//    line-height: 26px;
//
//    span {
//        font-size: 34px;
//    }
//}
//
//.product__equipment-link {
//    margin-bottom: 32px;
//}
//
//.product__btn-rent {
//    padding: 0.5rem 2rem;
//    font-size: 21px;
//    color: $colorLight;
//}