.up-button {
    position: relative;
    padding: 14px 0 8px;
    margin-bottom: 20px;
    text-align: center;
}

    .up-button__btn {
        display: inline-block;
        width: 100%;
        text-transform: uppercase;
        color: $upButtonTextColor;

        .icon {
            fill: $colorPrimary;
            width: 28px;
            height: 15px;
        }

        span {
            display: block;
            font-size: 16px;
            line-height: 32px;
            letter-spacing: 0.8px;
        }

        &:hover {
            color: $colorPrimary;
        }
    }

    .up-button__bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 200%;
        height: 100%;
        background: $upButtonBgColor;
        z-index: -1;
    }