body {
    font-family: $fontFamilyDefault;
    font-size: $fontSizeMain;
    font-weight: $fontWeightMain;
    color: $fontColorMain;
    //text-size-adjust: none;
}

a {
    text-decoration: none;
    color: $linkColor;
    @include transition(all 0.1s);

    &:hover {
        text-decoration: none;
        color: $linkHoverColor;
    }
}

h1, .h1 {
    //margin-top: 2rem;
    margin-top: 0;
    margin-bottom: 2rem;
    font-size: 2.7rem;
    text-transform: uppercase;
    font-weight: $fontWeightLight;
}

h2, .h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.3rem;
    text-transform: uppercase;
    font-weight: normal;
}

h3, .h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: normal;
}

b {
    font-weight: $fontWeightMedium;
}

.content {
    margin-bottom: 80px;
    line-height: 28px;
}
