$z-indexes: (
	default: 1,
    sliderArrow: 300,
	overlay: 900
);

$fontWeightLight: 300;
$fontWeightRegular: 500;
$fontWeightMedium: 500;
$fontWeightBold: 700;

$fontSizeSm: 13px;
$fontSizeMd: 16px;
$fontSizeLg: 19px;
// need to setup
$fontSizeXxxs: 13px;
$fontSizeXxs: 14px;
$fontSizeXs: 15px;
$fontSizeXl: 22px;

/* Main settings */
$fontSizeMain: 14px;
$fontWeightMain: $fontWeightLight;
$lineHeightMain: 1.4;
$fontColorMain: #000;
$colorMain: #000;

$colorPrimary: #56bbed;
$colorPrimary1: #55DB15;
$colorPrimary2: #72F832;
///*$colorSecondary:*/
$colorDark: #000;
$colorDark1: #2C2C2C;
$colorDark2: #343435;
$colorDark3: #424242;
$colorDark4: #4D4D4D;
$colorDark5: #656565;
//$cc: #878787;
$colorLight: #fff;
$colorLight1: #E4E4E4;
$colorLight2: #D6D6D6;
$colorLight3: #a0a0a0;
$colorLight4: #6B6B6B;

$colorSuccess: #42e267;
$colorDanger: #de5b68;

$colorPrimary: #56bbed;


$fontFamilyDefault: 'Museo Sans Cyrl', 'Verdana', 'Geneva', sans-serif;
$fontSizeMain: $fontSizeSm;
$lineHeightDefault: 1.4;
$fontColorMain: #000;


/* Try to build theme colors*/
$logoColorPrimary: $colorDark;
$logoColorSecondary: $colorDark4;
$logoFontSizePrimary: $fontSizeXl;
$logoFontSizeSecondary: 13px;

$linkColor: $colorPrimary;
$linkHoverColor: $colorPrimary2;
$linkPrimaryColor: $colorPrimary;
$linkPrimaryHoverColor: $colorPrimary2;
$linkSecondaryColor: $colorDark3;
$linkSecondaryHoverColor: $colorLight1;
$linkDarkColor: $colorDark;
$linkLightColor: $colorLight2;
$linkLightHoverColor: $colorLight;

$headerBgColor: $colorLight;

/*
topMenuIconFill: #0a0909;
topMenuBorder: #e9e9e9;
*/

$menuMainBgColor: $colorPrimary;
$menuMainFontColor: $colorLight;

$menuCatalogTitleColor: #747474;
$menuCatalogTitleHoverColor: $colorPrimary;


$menuBottomBgColor: $colorPrimary;
$menuBottomFontColor: $colorLight;




$breadFontSize: 14px;
$breadLinkColor: $colorPrimary;
$breadLinkHoverColor: $colorPrimary2;
$breadSeparatorColor: #9b9b9b;
$breadTextColor: #9b9b9b;




$footerBgColor: $colorDark2;
$footerColor: $colorLight2;
$footerTitleColor: $colorLight;
$footerTitleHoverColor: $colorLight2;
$footerMenuLinkColor: $colorLight2;
$footerMenuLinkHoverColor: $colorLight;
$footerBottomBgColor: $colorPrimary;
$footerBottomColor: $colorLight;

$slickArrowIconColor: $colorPrimary;
$slickArrowIconHoverColor: $colorPrimary2;

$paginationLinkColor: $colorPrimary;
$paginationLinkHoverColor: $colorPrimary2;

$sidebarTitleColor: $colorDark;
$sidebarLinkColor: $colorDark1;
$sidebarLinkHoverColor: $colorPrimary;
$sidebarLinkActiveColor: $colorPrimary;

/* Theme */
$sidebarMenuBgColor: #f7f7f7;
$sidebarMenuLinkColor: #0a0909;
$sidebarMenuSearchTextColor: #b2b2b2;
$sidebarMenuMiddleBorder: #dbdbdb;
$sidebarMenuUpButtonBgColor: #777777;

$categoryWidgetBgColor: #ededed;

$brandsBgColor: #f4f4f4;

$upButtonBgColor: #dbdbdb;
$upButtonTextColor: #919191;

$bottomMenuLinkColor: #7e7e7e;

$footerMenuTitleColor: #000;
$footerMenuLinkColor: #7e7e7e;
$footerMenuLinkHoverColor: $colorPrimary;
$footerMenuBgColor: #f4f4f4;

$footerTextColor: #fff;
$footerLinkColor: #fff;
$footerLinkHoverColor: $colorPrimary;
$footerBgColor: #2c2c2c;