.footer {
    padding: 18px 0;
    font-size: 12px;
    line-height: 20px;
    font-weight: $fontWeightMedium;
    background: $footerBgColor;
    color: $footerTextColor;

    a {
        color: $footerLinkColor;

        &:hover {
            color: $footerLinkHoverColor;
        }
    }
}