.header {
    padding: 15px 0 17px 0;
}

    .header__logo {
        display: block;
        width: 153px;
        height: 79px;
    }

    .header__menu {
        margin-top: 2px;
        text-align: right;
    }

    .header__phone {
        margin-right: 20px;
        font-size: $fontSizeSm;
        font-weight: $fontWeightBold;
        text-align: right;
        color: #1d1d1e;
    }

    .header__time {
        font-size: $fontSizeSm;
        font-weight: $fontWeightRegular;
        color: #8d8d8d;
    }

    .header__action {
        margin: 5px 10px 0 0;
    }
