.wrapper {
    overflow: hidden;
}

.container {
    position: relative;
    padding-left: 64px;
    padding-right: 64px;

    @include media-breakpoint-down(lg) {
        width: 100%;
        max-width: none;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.container--main {
    padding: 20px 56px 0 84px;
}
