.menu-footer {
    padding: 20px 0;
    background: $footerMenuBgColor;

    .menu__title {
        display: inline-block;
        margin-bottom: 6px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: $fontWeightBold;
        color: $footerMenuTitleColor;

        &:hover {
            color: $footerMenuLinkHoverColor;
        }
    }

    .menu__list {
        list-style: none;
        padding-left: 0;
    }

        .menu__item {
            //display: inline-block;
            //padding: 0 10px;
        }

            .menu__link {
                font-size: 12px;
                line-height: 20px;
                color: $footerMenuLinkColor;

                &:hover {
                    color: $footerMenuLinkHoverColor;
                }
            }
}