.menu-main {
    padding: 5px 0 10px 0;
    border-top: 1px solid $colorMain;
    border-bottom: 1px solid $colorMain;
    vertical-align: middle;
}

    .menu-main__search {
        padding-left: 68px;
        display: inline-block;
        vertical-align: middle;
    }

    .menu-main__menu {
        list-style: none;
        margin: 0 0 0 -6px;
        padding: 0;
    }

        .menu-main__item {
            display: inline-block;
            margin: 0 22px 0 0;
            vertical-align: middle;

            a {
                font-size: $fontSizeSm;
                font-weight: $fontWeightRegular;
                letter-spacing: 0.5px;
                text-transform: uppercase;
            }
        }


