.menu-left {
    position: absolute;
    top: 20px;
    margin-left: -70px;
    width: 56px;
    text-align: center;
    background: #f7f7f7;
    overflow: hidden;

    .menu__title {
        margin: 5px 0 3px 0;
        font-size: 12px;
        text-align: center;
        text-transform: uppercase;
    }

    .menu__user {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin: 0 0 7px 0;
        border-radius: 50%;
        border: 1px solid #fff;
        overflow: hidden;

        img {

        }
    }

    .menu__menu {
        margin-bottom: 27px;
        padding-left: 0;
    }

    .menu__item {
        display: block;
        margin-bottom: 4px;
        font-size: 16px;
        text-transform: uppercase;
    }

    .menu__link {
        vertical-align: middle;

        span {
            display: none;
        }

    }

}

