.menu-bottom {
    padding: 10px 0;
    list-style: none;
    text-align: center;

    .menu__item {
        display: inline-block;
        padding: 0 10px;
        margin-bottom: 10px;
    }

    .menu__link {
        font-size: $fontSizeSm;
    }
}
